<li>
	{{burger_name}}

	
		{{#if devoured}}
		<button class="btn btn-primary" data-id="{{id}}" data-newdevour="{{devoured}}">Eat Me!</button>
		{{/if}}
	
	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>